<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cartographie lexicale - Error</title>
        <link rel="stylesheet" href="main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" type="image/png" href="icon.png">
        <link rel="icon" type="image/png" href="icon.png">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
    <body>
        <article class="header">
            <h1>Cartographie lexicale</h1>
        </article>
        <article>
            <p>Veuillez rescanner le qr code s'il vous plait</p>
        </article>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>