<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cartographie lexicale</title>
        <link rel="stylesheet" href="main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" type="image/png" href="icon.png">
        <link rel="icon" type="image/png" href="icon.png">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous"/>
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
    <body>
        <article class="header">
            <h1>Cartographie lexicale</h1>
        </article>
        <article class="inputDiv">
            <p>Espace de libre expression :</p>
            <form id="form" autocomplete="off">
                <input type="search" name="mot" id="mot" placeholder="Remplissez moi" required>
				<button type="submit" name="validate" id="validate">
                    <i class="far fa-paper-plane"></i>
				</button>
            </form>
        </article>
        <article>
            <p class="description">Bienvenue à vous dans cette expérience interactive communautaire. Comme vous avez pu le constater, plusieurs mots sont répartis sur la carte à vos pieds. En prêtant attention, vous remarquerez qu'ils sont regroupés tant dans l'espace que dans leur représentation par similarité. Libre à vous de remplir cet espace et d'observer les interactions entre les mots que vopus ajoutez et ceux d'ores et déjà présents.</p>
        </article>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="frontend.js"></script>
    </body>
</html>