/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html{
    height: 100%;
}

body {
    background: url(bg.png) no-repeat center center fixed;
    background-size: cover;

    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Quicksand', 'Times New Roman', Times, serif;
    font-size: 30px;
}

article {
    max-width: 500px;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 7px rgba(56, 54, 54, 0.7);
            box-shadow: 0px 1px 7px rgba(56, 54, 54, 0.7);
    border-radius: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

article p {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

article p.description {
    text-align: justify;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 500px;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 15px 0 0 0;
}

input {
    -webkit-appearance: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 0;
	padding: 5px 15px;
	background-color: #fff;
	border-top: solid #cbcbcb 1px;
	border-bottom: solid #cbcbcb 1px;
	border-left: solid #cbcbcb 1px;
	border-right: none;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: 0 1px 0 0 #bcbcbc;
	        box-shadow: 0 1px 0 0 #bcbcbc;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}


button {
    -webkit-appearance: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 10px 5px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: rgb(4, 158, 81);
	border: solid #008141 1px;
	border-radius: 0 4px 4px 0;
	-webkit-box-shadow: 0 1px 0 0 rgb(0, 97, 44);
	        box-shadow: 0 1px 0 0 rgb(0, 97, 44);
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	width: 40px;
}

button i {
	text-align: center;
	margin: 0 10px 0 0;
}

button i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
	text-align: center;
	margin: 0;
}

button:hover {
	background-color: #008150;
}

input:focus, button:focus {
	outline: none;
}

.code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.code canvas {
    margin: 15px;
}